:root {
  --menu-bg: #efefef;
  --shadow: 0px 16px 24px rgb(89 89 89 / 0.1);

  /* Primary Color */
  --color-primary: #3284e5;
  --color-primary-hover: hwb(213 20% 20%); /* Un blu moderato */
  --color-primary-active: hwb(213 20% 50%); /* Un blu moderato */

  /* Whites and Blacks */
  --color-black: #000000;
  --color-gray-dark: #666666;
  --color-gray-mid-dark: #858585;
  --color-gray: #a6a6a6;
  --color-gray-light: #e5e5e5;
  --color-gray-mid-light: #c7c7c7;
  --color-white: #ffffff;

  /* Typography */
  --font-family-sans: "Helvetica Neue", Arial, sans-serif;
  --font-family-serif: "Georgia", Times, serif;

  /* Font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;

  /* Font weights */
  --font-weight-normal: 300;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-normal: 1.5;
  --line-height-tight: 1.25;

  /* Spacing System */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;

  /* Border Radius */
  --border-radius-none: 0px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-full: 50%;

  /* Base font size for reference */
  --font-size-base: 16px;

  /* Headings in em based on the base font size */
  --font-size-h1: 2.5em; /* 40px */
  --font-size-h2: 2em; /* 32px */
  --font-size-h3: 1.75em; /* 28px */
  --font-size-h4: 1.5em; /* 24px */
  --font-size-h5: 1.25em; /* 20px */
  --font-size-h6: 1em; /* 16px */

  /* Line heights for headings */
  --line-height-h1: 1.2;
  --line-height-h2: 1.3;
  --line-height-h3: 1.3;
  --line-height-h4: 1.4;
  --line-height-h5: 1.5;
  --line-height-h6: 1.5;

  /* Font weights for headings */
  --font-weight-h1: 700;
  --font-weight-h2: 600;
  --font-weight-h3: 600;
  --font-weight-h4: 500;
  --font-weight-h5: 500;
  --font-weight-h6: 500;

  /* Scrollbar */
  --scrollbar-color: #dbdbdb;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-weight-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-h3);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: var(--font-weight-h4);
}

h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  font-weight: var(--font-weight-h5);
}

h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  font-weight: var(--font-weight-h6);
}
