@import url("./variables.css");

.banner {
  box-shadow: var(--shadow);
  background-color: var(--menu-bg);
  border-radius: var(--border-radius-lg);
  background-image: url("../img/airplane-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
  overflow: hidden;
  height: 200px;
}

#most-used-aircraft {
  grid-area: w1;
  overflow: hidden;
}

.banner-overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  justify-content: end;
  padding: 20px;
  z-index: 1;
  transition: 0.3s;
  opacity: 100;
  gap: var(--spacing-xs);
}

#most-used-aircraft .banner-overlay {
  opacity: 0;
}

#most-used-aircraft .banner-overlay:hover {
  opacity: 100;
}

#most-used-aircraft span,
#most-used-aircraft h3 {
  z-index: 3;
}

#most-departures-airport {
  grid-area: w3;
}

#most-arrivals-airport {
  grid-area: w4;
}

/* #results-table {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
} */

.flight-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  overflow: hidden;
  justify-content: space-between;
}

.flight-card-info {
  display: flex;
  overflow: hidden;
  background-color: var(--color-gray-light);
  justify-content: space-between;
}

.flight-card-info > img {
  width: 48px;
  fill: var(--color-primary);
}

.flight-card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.flight-card-check {
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-lg);
}

.flight-card-check:last-child {
  flex-basis: 3;
}

.flight-card-header {
  display: flex;
  flex-direction: row;
  background: var(--color-gray-mid-light);
  justify-content: end;
}

.flight-card-header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  background: var(--color-gray-mid-light);
  justify-content: end;
}

flight-card-header form {
  display: inline;
}

.flight-card-header ul li a {
  color: var(--color-gray-dark);
}

#time {
  font-size: 32px;
  font-weight: var(--font-weight-normal);
}

#price {
  font-size: var(--font-size-xl);
}

h6 {
  text-transform: uppercase;
  font-size: var(--font-size-xs);
}

.flight-card-check > span {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-grow: 1;
  justify-content: end;
}

.flight-duration {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.flight-duration > div {
  flex-grow: 1;
}

/* .flight-duration input[type="submit"] {
} */

#flight-duration-banner {
  grid-area: w1;
}

#user-area-banner {
  grid-area: a;
  background-image: url(../img/airplane-1.jpg);
}

.widget {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  border-radius: var(--border-radius-md);
}

#feedback-page-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

#feedback-page-form .form-label {
  width: 100%;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.warning {
  background-color: #ffe1b3;
  border-radius: var(--border-radius-md);
  color: #c27400;
  box-shadow: var(--shadow);
  padding: var(--spacing-md) var(--border-radius-lg);
}
